/* Borders variables
   ========================================================================== */
$eos-base-border-radius-size: 8px;
$eos-base-selected-items-border: 3px;
$eos-base-border-color: $eos-bc-gray-50;
