/* Checkbox variables
   ========================================================================== */
/**
*
*  Z-index variables: /assets/stylesheets/eos-base/variables/z-index.scss
*  Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*  Color variables: /assets/stylesheets/eos-base/variables/branding.scss
*
*/

$eos-checkbox-label-margin: $eos-s;
$eos-checkbox-zindex: $eos-zindex-negative;
$eos-checkbox-height: 16px;
$eos-checkbox-width: 16px;
$eos-checkbox-top: .25rem;
$eos-checkbox-border: $eos-form-element-color;
$eos-checkbox-checked: $eos-form-element-approved;
$eos-checkbox-focus: $eos-form-element-focus;
$eos-checkbox-disabled: $eos-bc-gray-300;
$eos-checkbox-border-radius: 4px;
$eos-checkbox-bg: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48dGV4dCB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDE0KSIgZmlsbD0iI2ZmZiIgZm9udC1zaXplPSIxNiIgZm9udC1mYW1pbHk9ImVvcy1pY29ucyI+PHRzcGFuIHg9IjAiIHk9IjAiPmNoZWNrPC90c3Bhbj48L3RleHQ+PC9zdmc+');
$eos-checkbox-bg-position: 4px 1px;
$eos-checkbox-bg-size: 60%;
